button{
			margin: 10px;
			display: inline-block;
		}
img {
	float: left;
	display: inline-block;
}
header {
	font-size: 30px;
}
form {
	margin-top: 25px;
	position: absolute;
}
#giphyShow {
	margin-top: 100px;
	position: absolute;
}
.giphyDiv {
	margin: 10px;
	display: inline-block;
	float: left;
}